@layer mantineBase {
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }

  button {
    -webkit-appearance: button; /* 1 */
    background-color: transparent; /*  2 */
    background-image: none; /*  2 */
  }

  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button; /* 1 */
    background-color: transparent; /*  2 */
    background-image: none; /*  2 */
  }
}
@tailwind components;
@tailwind utilities;
